.threads_section,
.threads_caught_up_divider,
.thread_body_container,
.divider_label,
.divider_line {
  background: $bg;
  color: $text;
}

//The reply bar
.c-message .reply_bar:hover, .c-message__reply_bar:hover {
  border: 1px solid $borderDim !important;

  &, .c-message__reply_bar_view_thread {
    background: $bg !important;
  }
}

// The tab on the right
#convo_tab {
  .message_input,
  #msg_text {
    color: $text !important;
  }

  #convo_tab_header {
    color: $text !important;
  }
}

// Thread participants group
.thread_participants {
  color: $text !important;
}

.message_pane_scroller {
  color: $text !important;
}

.monkey_scroller {
  color: $text !important;
}

ts-thread {
  .thread_messages {
    background-color: $bg !important;
    border-color: $borderDim !important;
  }

  .thread_channel_name a {
    color: $textSpecial;
  }
}

ts-thread .collapse_inline_thread_container:hover,
ts-thread .view_all_replies_container:hover {
  background-color: $bg2;
}

ts-thread, .upload_in_threads {
  .inline_message_input_container {
    &, &.with_file_upload, .inline_file_upload {
      border-color: $borderDim !important;
    }

    .inline_file_upload {
      color: $borderDim !important;
    }
  }

  &.has_focus {
    .inline_message_input_container {
      &, &.with_file_upload, .inline_file_upload {
        border-color: $border !important;
      }

      .inline_file_upload {
        color: $border !important;
      }
    }
  }
}

#reply_container .inline_message_input_container.with_file_upload, #threads_msgs .inline_message_input_container.with_file_upload {
  background-color: transparent !important;
  color: $text !important;
}

#reply_container .inline_message_input_container.with_file_upload {
  > form {
    border-radius: 0.25rem !important;
  }
}

#threads_msgs .inline_message_input_container.with_file_upload {
  > form {
    border-radius: 10px !important;
  }
}