#client_body {
  background: $bg;
  color: $text;

  &::before {
    border-color: transparent !important;
    background: $bg2 !important;
    box-shadow: 0 1px 0 0 $border !important;
    z-index: 202;
  }

  // Remove box shadow on messages column
  #col_messages {
    box-shadow: none;
  }

  // Threads container
  #threads_msgs_scroller_div, ts-thread {
    background-color: $bg;

    .c-message_list__day_divider__label {
      background: $bg;
    }
  }

  // Day pill
  .c-message_list__day_divider__label__pill {
    background-clip: border-box !important;
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, $bg2 0%, $bg 100%);
    background-position: center top;
    background-size: 100%;
    border-color: $borderDim;
    border-bottom-color: transparent !important;
    border-top-color: transparent !important;
    border-radius: 0 !important;
    border-style: solid;
    border-width: 0 1px;
    box-shadow: 0 -1px 0 0 $bg2;
    color: $text;
    padding: 0.125rem 0.25rem;
    transform: translateY(0.6875rem);
    z-index: 203;
  }

  .c-virtual_list__item--sticky {
    .c-message_list__day_divider__label__pill {
      border-color: $border;
      transform: translateY(0.8125rem);
    }
  }

  .c-message_list.c-virtual_list--scrollbar[aria-label*="channel"] {
    .c-message_list__day_divider__label__pill {
      transform: translateY(0.6875rem);
    }
  }

  // timestamp
  .c-timestamp__label {
    color: $text !important;
  }

  // Channel message
  .c-message {
    border-radius: 5px;
    margin: 1px 5px !important;
    box-shadow: none !important;

    &:hover {
      background: $bg2 !important;
    }
  }

  // Actual message content
  .c-message,
  .c-message__content,
  .c-message__body,
  .c-message__label,
  .c-message__sender {
    color: $text !important;

    // Starred messages
    &--starred {
      background-color: $bg2 !important;
    }
  }

  .c-message__sender_link {
    color: $text !important;
  }

  // Attachment image
  .c-message_attachment {
    color: $text;

    .c-message_attachment__border {
      color: $border;
    }

    .c-message_attachment__author {
      color: $textBright;
    }

    .c-message_attachment__text {
      color: $text;
    }

    .c-message_attachment__text_expander {
      color: $primary;
    }

    .c-message_attachment__media_trigger {
      color: $text !important;

      .c-expandable_trigger {
        color: $primary !important;
      }
    }
  }

  // Day divider
  .c-message_list__day_divider {
    background-image: linear-gradient(to bottom, $bg 0%, $bg2 100%);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 30px;
    padding-top: 30px;
  }

  .c-message_list.c-virtual_list--scrollbar[aria-label*="channel"] {
    .c-message_list__day_divider {
      background-size: 100% 28px;
      padding-top: 28px;
    }
  }

  .c-message_list__day_divider__line {
    border-top-color: $borderDim !important;
  }

  .c-message_list__day_divider__label {
    color: $bg;
  }

  // Loading history
  .p-degraded_list__loading {
    background: $bg !important;
    color: $text !important;
  }

  .c-message--hover {
    background: $bgHover !important;
  }
}
