@import "input";
@import "complete";

#footer {
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, rgba(#110026, 0) 0, $bg 0.6875rem, $bg 100%);
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: none;
  padding-top: 1.375rem;
}

#msg_preview {
  background: $bg !important;
}

#msg_input_message {
  background: $bg2;
  color: $text;
}

#footer_archives_preview {
  background: $bg2;
  color: $text;
  border-color: $borderDim;

  .c-archive_footer__title {
    color: $text;
  }

  .c-archive_footer__metadata {
    color: $textDim !important;
  }
}
